
/* basic elements */
.mheader {
	float:right;
	background-color:#555753;
	color: green;
	margin-left: 200%;
	font-size:100px;
}


.bheader {
	float:right;
	background-color:#555753;
	color: green;
	margin-left: 0%;

}


.bheader {
	float:right;

}


html {
	font-family:Trebuchet, sans-serif;
	margin: 0;
	padding: 0;
	}

body { 
	font:georgia, sans-serif; 
	line-height: 1.88889;
	color: #555753; 
	/* background: #fff url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right; */
	margin: 0; 
	padding: 0;
	background-image: "https://americanlibrariesmagazine.org/wp-content/uploads/2012/12/background_jobs4web.jpg";

	}
p { 

	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #7D775C;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
abbr {
	border-bottom: none;
	}


/* specific divs */
.page-wrapper { 
	background: url(http://csszengarden.com/001/zen-bg.jpg) no-repeat top left; 
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}

.intro { 
	min-width: 470px;
	width: 100%;
	}

header h1 { 
	background: transparent url(http://csszengarden.com/001/h1.gif) no-repeat top left;
	margin-top: 10px;
	display: block;
	width: 219px;
	height: 87px;
	float: left;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header h2 { 
	background: transparent url(http://csszengarden.com/001/h2.gif) no-repeat top left; 
	margin-top: 58px; 
	margin-bottom: 40px; 
	width: 200px; 
	height: 18px; 
	float: right;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header {
	padding-top: 20px;
	height: 87px;
}

.summary {
	clear: both; 
	margin: 20px 20px 20px 10px; 
	width: 160px; 
	float: left;
	}
.summary p {
	font: italic 1.1em/2.2 georgia; 
	text-align: center;
	}

.preamble {
	clear: right; 
	padding: 0px 10px 0 10px;
	}
.supporting {	
	padding-left: 10px; 
	margin-bottom: 40px;
	}

footer { 
	text-align: center; 
	}
footer a:link, footer a:visited { 
	margin-right: 20px; 
	}

.sidebar {
	margin-left: 600px; 
	position: absolute; 
	top: 0; 
	right: 0;
	}
.sidebar .wrapper { 
	font: 10px verdana, sans-serif; 
	background: transparent url(http://csszengarden.com/001/paper-bg.jpg) top left repeat-y; 
	padding: 10px; 
	margin-top: 150px; 
	width: 130px; 
	}
.sidebar h3.select { 
	background: transparent url(http://csszengarden.com/001/h3.gif) no-repeat top left; 
	margin: 10px 0 5px 0; 
	width: 97px; 
	height: 16px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.archives { 
	background: transparent url(http://csszengarden.com/001/h5.gif) no-repeat top left; 
	margin: 25px 0 5px 0; 
	width:57px; 
	height: 14px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.resources { 
	background: transparent url(http://csszengarden.com/001/h6.gif) no-repeat top left; 
	margin: 25px 0 5px 0; 
	width:63px; 
	height: 10px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}


.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 1.3em; 
	background: transparent url(http://csszengarden.com/001/cr1.gif) no-repeat top center; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: #988F5E;
	}
.sidebar li a:visited {
	color: #B3AE94;
	}


.extra1 {
	background: transparent url(http://csszengarden.com/001/cr2.gif) top left no-repeat; 
	position: absolute; 
	top: 40px; 
	right: 0; 
	width: 148px; 
	height: 110px;
	}

	/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}




.btn-sub-jobs {

	border-color: solid black;
	border-radius: 25px;
}

.fjobsf {
	background-color: ;
}

.location {
	padding-left: 50px;
	float: right;
}

.eduj {
	box-sizing: border-box;
	border-color:black;
	background-color: #FFF
}

.gridtable {
	font-family: verdana, arial,sans-serif;
	font-size:;
	color: #333333;

}

.gridtable th {
	padding: 8px;
	background-color: #dedede;
}

.gridtable td {
	padding:-55px;
}

.blink-btn {   
  animation-duration: 400ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.collapsible1 .collapsible-body1 {
	display: none;
	padding: 5px;

}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}


@media (min-device-width:600px) {
    img[data-src-600px] {
        content: attr(data-src-600px, url);
    }
}

@media (min-device-width:800px) {
    img[data-src-800px] {
        content: attr(data-src-800px, url);
    }
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (min-width: 640px) { body {font-size:15px;} } 
@media (min-width:960px) { body {font-size:15px;} } 
@media (min-width:1100px) { body {font-size:15px;} }


.safcom {
	float:right;
}

.ramsa {
	margin-left: : 350px;
	padding-top: 250px;		
}

/*  wow slider */
.instuction {
	font-family: sans-serif, Arial;
	display: block;
	margin: 0 auto;
	max-width: 820px;
	width: 100%;
	padding: 0 70px;
	color: #222;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.instuction h1 img {
	max-width: 170px;
	vertical-align: middle;
	margin-bottom: 10px;
}
.instuction h1 {
	color: #2F98B3;
	text-align: center;
}
.instuction h2 {
	position: relative;
	font-size: 1.1em;
	color: #2F98B3;
	margin-bottom: 20px;
	margin-top: 40px;
}
.instuction h2 span.num {
	position: absolute;
	left: -70px;
	top: -18px;
	display: inline-block;
	vertical-align: middle;
	font-style: italic;
	font-size: 1.1em;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #2F98B3;
	color: #fff;
	border-radius: 50%;
}
.instuction .mono {
	color: #000;
	font-family: monospace;
	font-size: 1.3em;
	font-weight: normal;
}
.instuction li.mono {
	font-size: 1.5em;
}

.instuction ul {
	font-size: 0.9em;
	margin-top: 0;
	padding-left: 0;
	list-style: none;
}
.instuction .note {
	color: #A3A3B2;
	font-style: italic;
	padding-top: 10px;
}
.instuction p.note {
	text-align: center;
	padding-top: 0;
	margin-top: 4px;
}
.instuction textarea {
	font-size: 0.9em;
	min-height: 60px;
	padding: 10px;
	margin: 0;
	overflow: auto;
	max-width: 100%;
	width: 100%;
}
.instuction a,
.instuction a:visited {
	color: #2F98B3;
}


.body {
	background-color: #eeeeee;
}

.about .td{
	box-sizing: border-box;		
	border-style: solid;
	border-width: 15px;
	border-color: yellow;
}

